sub {
  display: inline-block;
  font-weight: bold;
  font-size: 28px;
  background: linear-gradient(-45deg, #ff6a00, #fff200, #ffcc00, #ff0000);
  background-size: 400% 400%;
  color: transparent;
  background-clip: text;
  animation: fire 2s infinite ease-in-out;
  /* text-shadow: 0 0 5px rgb(246, 255, 0), 0 0 10px rgb(255, 0, 0), 0 0 15px rgb(146, 221, 17); */
}

@keyframes fire {
 
  100% {
    background-position-x:200px;
  }
}
